<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= favicon_link_tag 'favicon.ico' %>

  <title>AndeleLara</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <title>
    Meet Andele Lara
  </title>

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700|Slabo+27px' rel='stylesheet' type='text/css'>
  
  <!-- bootstrap -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">


</head>
<body>

<%= yield %>
</body>
</html>
